# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Raw downloaded dataset
data/Mall_Customers.csv

# Temporary files
*.tmp
*.log

# OS files
Thumbs.db
.DS_Store